input, select, .ui-selectonemenu-label.ui-inputfield {
	padding: 0.5em !important;
}

.ui-selectonemenu-label.ui-inputfield {
	text-overflow: ellipsis;
}

.ui-icon.ui-icon-triangle-1-s.ui-c {
	margin-top: 10px !important;
}

.ui-panelgrid .ui-panelgrid-cell, .ui-widget-content.ui-panelgrid-odd, .ui-widget-content.ui-panelgrid-even {
	border: none !important;
	padding: 10px !important;
}

.center-all {
	width: 80%;
	margin: auto;
}

.ui-inputfield {
	width: 450px;
}

.ui-selectonemenu-label, .ui-selectonemenu, .ui-selectonemenu-items.ui-selectonemenu-list {
	width: 440px !important;
	text-overflow: ellipsis;
}

.menu-items {
	margin: 10px;
	display: inline-block;
}

.mr-bottom {
	margin-bottom: 20px;
}

.full-width {
	width: 100%;
}

.login-box {
	width: 40%;
    float: right;
    margin-right: 20%;
    padding: 2em;
}

.hide {
	display: none;
}

.pd-l10 {
	padding-left: 10px;
}

.mr-l10 {
	margin-left: 10px;
}

.login-box input {
	width: 100% !important;
}